header{
color: white;
height: 70px;
width: 100%;
display: flex;
border-bottom: 1px solid #CCCCCC;
align-items: center;
}

.logo{
background: url("../images/logo.png") no-repeat: center;
padding-left: 20px;
vertical-align: middle;
width: 142px;
height: 60px;
}
